---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"associations":{"associatedCompanyIds":[],"associatedVids":[]},"properties":[{"name":"amount","value":"30"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - redacted
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249890'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '84'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"dealId":1148382230,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1573057248264,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1573057248264,"source":"CALCULATED","sourceVid":[],"sourceMetadata":""}]},"amount":{"value":"30","timestamp":1573057248264,"source":"API","sourceId":null,"versions":[{"name":"amount","value":"30","timestamp":1573057248264,"source":"API","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1573057248264,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1573057248264,"source":"CALCULATED","sourceVid":[],"sourceMetadata":""}]},"hs_lastmodifieddate":{"value":"1573057248264","timestamp":1573057248264,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1573057248264","timestamp":1573057248264,"source":"CALCULATED","sourceVid":[]}]},"hs_createdate":{"value":"1573057248264","timestamp":1573057248264,"source":"API","sourceId":"","versions":[{"name":"hs_createdate","value":"1573057248264","timestamp":1573057248264,"sourceId":"","source":"API","sourceVid":[]}]},"hs_object_id":{"value":"1148382230","timestamp":1573057248264,"source":"API","sourceId":null,"versions":[{"name":"hs_object_id","value":"1148382230","timestamp":1573057248264,"source":"API","sourceVid":[]}]},"createdate":{"value":"1573057248264","timestamp":1573057248264,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1573057248264","timestamp":1573057248264,"source":"API","sourceVid":[]}]},"hs_projected_amount":{"value":"0","timestamp":1573057248264,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1573057248264,"source":"CALCULATED","sourceVid":[],"sourceMetadata":""}]},"amount_in_home_currency":{"value":"30","timestamp":1573057248264,"source":"CALCULATED","sourceId":null,"versions":[{"name":"amount_in_home_currency","value":"30","timestamp":1573057248264,"source":"CALCULATED","sourceVid":[],"sourceMetadata":""}]},"days_to_close":{"value":"0","timestamp":1573057248264,"source":"CALCULATED","sourceId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1573057248264,"source":"CALCULATED","sourceVid":[],"sourceMetadata":""}]},"hs_deal_stage_probability":{"value":"0","timestamp":1573057248264,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_deal_stage_probability","value":"0","timestamp":1573057248264,"source":"CALCULATED","sourceVid":[],"sourceMetadata":""}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1573057248264,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1573057248264,"source":"CALCULATED","sourceVid":[],"sourceMetadata":""}]}},"imports":[],"stateChanges":[]}'
  recorded_at: Wed, 06 Nov 2019 16:20:48 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Garfield"},{"property":"lastname","value":"McLaughlin"},{"property":"email","value":"heriberto@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - redacted
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249889'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '83'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: UTF-8
      string: '{"vid":70601,"canonical-vid":70601,"merged-vids":[],"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mM2C7Uh0q-EYqgLC2L6K1TslwUYvZP9fmkWVJuHJI7_e3pTl0zbGVndKTBYbFhSbBRgGjguqsxrT_YVhSPGMArku2Llfmvz31mW_XxKMTXhIV0fzxSQinOt5_Wxd071OGT2P5eV","profile-url":"https://app.hubspot.com/contacts/62515/contact/70601","properties":{"firstname":{"value":"Garfield","versions":[{"value":"Garfield","source-type":"API","source-id":null,"source-label":null,"timestamp":1573057248518,"selected":false}]},"email":{"value":"heriberto@example.com","versions":[{"value":"heriberto@example.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1573057248518,"selected":false}]},"lastname":{"value":"McLaughlin","versions":[{"value":"McLaughlin","source-type":"API","source-id":null,"source-label":null,"timestamp":1573057248518,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":70601,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"heriberto@example.com","timestamp":1573057248527,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"9f4abd7f-b11d-439d-8a94-dfc60cd7b8f6","timestamp":1573057248576,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 06 Nov 2019 16:20:48 GMT
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/deal/1148382230/associations/CONTACT?hapikey=demo&id=70601
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Trace:
      - redacted
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249888'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '82'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Hubspot-Api-Deprecated:
      - 'This endpoint is deprecated. See more details here: https://developers.hubspot.com/docs/faq/deprecated-apis'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 06 Nov 2019 16:20:49 GMT
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/1148382230?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - redacted
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249887'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"dealId":1148382230,"isDeleted":false,"associations":{"associatedVids":[70601],"associatedCompanyIds":[],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1573057248264,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1573057248264,"source":"CALCULATED","sourceVid":[],"sourceMetadata":""}]},"amount":{"value":"30","timestamp":1573057248264,"source":"API","sourceId":null,"versions":[{"name":"amount","value":"30","timestamp":1573057248264,"source":"API","sourceVid":[]}]},"num_associated_contacts":{"value":"0","timestamp":1573057248604,"source":"CALCULATED","sourceId":"RollupProperties","versions":[{"name":"num_associated_contacts","value":"0","timestamp":1573057248604,"sourceId":"RollupProperties","source":"CALCULATED","sourceVid":[]}]},"createdate":{"value":"1573057248264","timestamp":1573057248264,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1573057248264","timestamp":1573057248264,"source":"API","sourceVid":[]}]},"amount_in_home_currency":{"value":"30","tim[...]
